@use '../styles/utilities'

.container
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.timeline-content
  padding-top: 5em
  display: flex
  flex-direction: column
  @extend .container-width

.row
  height: 30em
  width: 100%
  margin: 0 0 10em 0
  position: relative
  display: flex
  justify-content: space-between
  align-items: flex-end

  img
    object-fit: cover
  
  img.image-1

  .text-content
    position: absolute

    h2
      margin-top: 0
      
    p.paragraph
      
