@use '../../styles/utilities'

.menu-icon
  z-index: 1
  cursor: pointer
  visibility: hidden
  @media (max-width: utilities.$smallScreenEnd)
    visibility: visible
    position: absolute
    right: 10px
    top: 10px
    color: white

img
  height: 2em
  width: 3em
  @media (max-width: utilities.$smallScreenEnd)
    margin-top: 15px
    margin-left: 10px
    z-index: 2

.container
  height: 3em
  width: 100vw
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  z-index: 2
  top: 0
  transform: translateY(-3em)
  animation: trans-in 1s 1s
  background-color: rgba(21, 21, 21, .8)
  @media (max-width: utilities.$smallScreenEnd)
    background-color: rgba(21, 21, 21, 0)
    height: auto
    flex-direction: column
    align-items: flex-start

  animation-fill-mode: forwards
  // @include translate-nav(true)

  .inner-container
    display: flex
    justify-content: flex-end
    @extend .container-width
    @media (max-width: utilities.$smallScreenEnd)
      background-color: rgba(21, 21, 21, .8)
      padding-top: 2em
      flex-direction: column
      width: 100%
      margin: 0
      margin-top: -3em
      transition: transform 1s

  .hide-inner-container
    @media (max-width: utilities.$smallScreenEnd)
      transform: translateY(-21em)
      transition: transform 1s

  .nav-item
    margin: 0 0 0 2em
    text-decoration: none
    align-self: flex-start
    color: #B5B5B5
    font-weight: 500
    font-family: satisfy
    font-size: 1.3em
    cursor: pointer
    transition: transform 300ms
    display: flex
    align-items: center
    justify-content: center
    @media (max-width: utilities.$smallScreenEnd)
      height: 3em
      text-align: center
      margin: 0
      width: 100%

    &:hover
      transform: scale(1.1)
      transition: transform 300ms

.selected
  transform: scale(1.1)
  cursor: default !important
  color: white !important
  transition: color 900ms

.isHidden
  visibility: hidden

.hide
  transform: translateY(0)
  transition: transform 1s
  animation: trans-out 1s

.show
@keyframes trans-out
  to
    transform: translateY(-3em)
@keyframes trans-in
  to
    transform: translateY(0px)
