@use '../../styles/utilities'

.outer-container

.container
  height: 3em
  width: 100vw
  background-color: rgba(21, 21, 21, .8)
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  z-index: 2
  top: 0
  transform: translateY(-3em)
  animation: trans-in 1s 1s

  animation-fill-mode: forwards
  // @include translate-nav(true)

  .inner-container
    display: flex
    justify-content: flex-end
    @extend .container-width

  .nav-item
    margin: 0 0 0 2em
    text-decoration: none
    color: #B5B5B5
    font-weight: 500
    font-family: satisfy
    font-size: 1.3em
    cursor: pointer
    transition: transform 300ms
    &:hover
      transform: scale(1.1)
      transition: transform 300ms

.selected
  transform: scale(1.1)
  cursor: default !important
  color: white !important
  transition: color 900ms

.isHidden
  visibility: hidden

img
  height: 2em
  width: 3em
  z-index: 2

.hide
  transform: translateY(0)
  transition: transform 1s
  animation: trans-out 1s

.show
@keyframes trans-out
  to
    transform: translateY(-3em)
@keyframes trans-in
  to
    transform: translateY(0px)
