@use '../../styles/utilities'

.outer-container

.container
  height: 3em
  width: 100vw
  background-color: rgba(21, 21, 21, .8)
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  z-index: 2
  top: 0
  transform: translateY(-3em)
  animation: trans-in 1s 1s

  animation-fill-mode: forwards
  // @include translate-nav(true)

  .inner-container
    display: flex
    justify-content: flex-end
    @extend .container-width

  .nav-item
    margin: 0 0 0 2em
    color: white
    text-decoration: none
    font-weight: 500
    font-family: satisfy
    font-size: 1.3em

.isHidden
  visibility: hidden

img
  height: 5em
  width: 5em
  position: fixed
  z-index: 2
  top: 10px
  left: 10px

.hide
  transform: translateY(0)
  transition: transform 1s
  animation: trans-out 1s

.show
@keyframes trans-out
  to
    transform: translateY(-3em)
@keyframes trans-in
  to
    transform: translateY(0px)
